* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inknut Antiqua, serif;
}

body {
  background-color: rgba(239, 239, 239, 255);
}

select , input {
  background-color: white;
  border: 2px solid rgb(78, 44, 131);
  border-radius: 8px;
  padding: 8px 4px;
}

header form input {
  margin-right: 24px;

  /* border: 1px solid red; */
}

button {
  background-color: rgb(78, 44, 131);
  color: white;
  padding: 8px 48px;
  border: none;
  border-radius: 8px;
}

main {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;

  /* border: red 1px solid; */
}

footer {
  background-color: rgba(60, 64, 74, 255);
  color: white;
  padding: 16px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  font-size: 18px;
  font-weight: 600;
}

.form-section {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 8px 16px;
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#form-title {
  text-align: center;
  margin: 16px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: column wrap;
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

#main-form-familia {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 280px;
}

#label-rate {
  margin-right: 24px;
}

#textarea {
  display: block;
  width: 100%;
  resize: none;
  background-color: white;
  border: 2px solid rgb(78, 44, 131);
  border-radius: 8px;
}

#interesses {
  display: flex;
  flex-wrap: wrap;
}

#interesses div {
  width: 33%;
}

#submit-btn {
  width: 100%;
  margin: 16px 0;
}

#counter {
  margin-top: -40px;
  margin-right: 8px;
  text-align: right;
  color: rgb(107, 107, 107);
}
