* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form div {

  /* border: 1px solid red; */
}

div input {
  background-color: white;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4px;
}

main {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;

  /* border: red 1px solid; */
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 8px 16px;
}

.trybewarts-header-logo {
  width: 60px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: column wrap;
}

#trybewarts-forms-logo {
  width: 500px;
  height: 500px;
}

#main-form-familia {
  display: flex;
  flex-direction: column;
}
